<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
              <i class="fas fa-bars"></i>
            </label>
            <a href="#" id="logo">MORTIS</a>
            <ul>
                <li><a href="main.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="product.html">Products</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="partners.html">Partners</a></li>
                <li class="login"><a href="login.html">LOG IN</a></li>
            </ul>
          </nav>
          <section class="content">
            <h4>07 - 14 - 2023</h4>
            <!-- <section class="home">
              <div class="title">WELCOME</div>
              <div class="title-content">
                <div>
                  <h1>
                    Own your own<br/>
                    unique  mecha figurines
                  </h1>
                  <a href="#product" class="prod-btn">
                    <span>Shop Now!</span>
                    <i class='bx bx-down-arrow-alt' ></i>
                  </a>
                </div>
                <img src="images/main-figurine.png">
              </div>

            </section> -->
            <section class="basic news">
              <h1>Check out our recent news</h1>
              <section class="container">
                <div class="slider-wrapper">
                  <div class="slider">
                    <img id="slide-1" src="https://i.pinimg.com/736x/0f/5c/3f/0f5c3f331d98ffdcfd18883cfa452b8b.jpg" alt="3D rendering of an imaginary orange planet in space" />
                    <img id="slide-2" src="https://images.unsplash.com/photo-1657586640569-4a3d4577328c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&q=80" alt="3D rendering of an imaginary green planet in space" />
                    <img id="slide-3" src="https://images.unsplash.com/photo-1656077217715-bdaeb06bd01f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1200&q=80" alt="3D rendering of an imaginary blue planet in space" />
                  <div class="slider-nav">
                    <a href="#slide-1"></a>
                    <a href="#slide-2"></a>
                    <a href="#slide-3"></a>
                  </div>
                </div>
              </section>
            </section>
            <footer>
              <div class="section-1">
                  <div class="footer-links-1">
                    <a href="#"><i class='bx bxl-facebook-circle'></i></a>
                    <a href="#"><i class='bx bxl-twitch' ></i></a>
                    <a href="#"><i class='bx bxl-youtube'></i></a>
                    
                    <a href="#"><i class='bx bxl-github' ></i></a>
                    <a href="#"><i class='bx bxl-discord-alt' ></i></a>
                    
                </div>
                <div class="footer-email">
                  <input placeholder="Enter an email for a newsletter" type="text" class="input-box" id="newsletter-input">
                  <button onclick="subscribe()">Subscribe</button>
              </div>
              </div>
              <div class="section-2">
                <div class="footer-links-2">
                  <a href="#">PRIVACY POLICY</a>
                  <p>|</p>
                  <a href="#">TERMS OF SERVICE</a>
                  <p>|</p>
                  <a href="#">CONTACT US</a>                
                </div>
                <div class="footer-logo">
                  <a href="#">MORTIS</a>
                  <p>Copyright C 2023-2024 MORTIS PTE. LTD All Rights Reserved</p>
                </div>
              </div>

            </footer>
            <script src="function.js"></script>
          </section>
    </body>
</html>