<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body class="news-body">
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
              <i class="fas fa-bars"></i>
            </label>
            <a href="#" id="logo">MORTIS</a>
            <ul>
                <li><a href="main.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="product.html">Products</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="partners.html">Partners</a></li>
                <li class="login"><a href="login.html">LOG IN</a></li>
            </ul>
        </nav>
        <section class="partners-section">
            <section class="service section" id="service">
                <h1>OUR PARTNERS</h1>
                <div class="service-container one">

                    <a  href="https://online.aniplex.co.jp">
                        <div class="service-box">
                            <img src="images/aniplex.png" class="service-img-1"/>
                            <p>Aniplex</p>
                        </div>
                    </a>

                    <a  href="https://www.suruga-ya.jp">
                        <div class="service-box">
                            <img src="images/surugaya.jpg" class="service-img-1"/>
                            <p>Surugaya</p>
                        </div>
                    </a>

                    <a  href="https://www.amiami.jp/">
                        <div class="service-box">
                            <img src="images/ami2x.jpg" class="service-img-1"/>
                            <p>AMI AMI</p>
                        </div>
                    </a>

                    <a  href="https://www.animate-onlineshop.jp">
                        <div class="service-box">
                            <img src="images/animate.png" class="service-img-1"/>
                            <p>Animate</p>
                        </div>
                    </a>

                    <a  href=https://janbox.com/en"">
                        <div class="service-box">
                            <img src="images/janbox.png" class="service-img-1"/>
                            <p>Janbox</p>
                        </div>
                    </a>

                    <a  href="https://www.mandarake.co.jp/index2.html">
                        <div class="service-box">
                            <img src="images/mandarake.png" class="service-img-1"/>
                            <p>Mandarake</p>
                        </div>
                    </a>

                    <a  href="https://solarisjapan.com">
                        <div class="service-box">
                            <img src="images/solaris.jpg" class="service-img-1"/>
                            <p>Solaris</p>
                        </div>
                    </a>

                    <a  href="https://jlist.com">
                        <div class="service-box">
                            <img src="images/jlist.jpg" class="service-img-1"/>
                            <p>JList</p>
                        </div>
                    </a>

                    <a  href="https://www.lunartoystore.com/anime-figures">
                        <div class="service-box">
                            <img src="images/lunar.png" class="service-img-1"/>
                            <p>Lunar Toy Store</p>
                        </div>
                    </a>

                    <a  href="https://www.lazada.com.ph">
                        <div class="service-box">
                            <img src="images/lazada.jpg" class="service-img-1"/>
                            <p>Lazada</p>
                        </div>
                    </a>

                    <a  href="https://shopee.ph">
                        <div class="service-box">
                            <img src="images/shoppee.jpg" class="service-img"/>
                            <p>Shopee</p>
                        </div>
                    </a>

                    <a  href="https://www.amazon.com/?&tag=phtxtabkgode-20&ref=pd_sl_73t48p1dlf_e&adgrpid=151590336221&hvpone=&hvptwo=&hvadid=677569135158&hvpos=&hvnetw=g&hvrand=8346971182670674419&hvqmt=e&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1011159&hvtargid=kwd-10573980&hydadcr=9911_13618523&language=en_US">
                        <div class="service-box">
                            <img src="images/amazon.png" class="service-img"/>
                            <p>Amazon</p>
                        </div>
                    </a>
                </div>
                
            </section>
        </section>
        <footer>
            <div class="section-1">
                <div class="footer-links-1">
                <a href="#"><i class='bx bxl-facebook-circle'></i></a>
                <a href="#"><i class='bx bxl-twitch' ></i></a>
                <a href="#"><i class='bx bxl-youtube'></i></a>
                
                <a href="#"><i class='bx bxl-github' ></i></a>
                <a href="#"><i class='bx bxl-discord-alt' ></i></a>
                
            </div>
            <div class="footer-email">
                <input placeholder="Enter an email for a newsletter" type="text" class="input-box" id="newsletter-input">
                <button onclick="subscribe()">Subscribe</button>
            </div>
            </div>
            <div class="section-2">
            <div class="footer-links-2">
                <a href="#">PRIVACY POLICY</a>
                <p>|</p>
                <a href="#">TERMS OF SERVICE</a>
                <p>|</p>
                <a href="#">CONTACT US</a>                
            </div>
            <div class="footer-logo">
                <a href="#">MORTIS</a>
                <p>Copyright C 2023-2024 MORTIS PTE. LTD All Rights Reserved</p>
            </div>
            </div>

        </footer>
        <script src="function.js"></script>
    </body>
</html>